on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        arch: [amd64, arm64]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Golang
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.3'
          cache: true

      - name: Build binary
        run: GOOS=${{ matrix.os == 'windows-latest' && 'windows' || (matrix.os == 'macos-latest' && 'darwin' || 'linux') }} GOARCH=${{ matrix.arch }} go build -o ngcfg main.go

      - name: Upload binary artifact
        uses: actions/upload-artifact@v3
        with:
          name: ngcfg-${{ matrix.os }}-${{ matrix.arch }}
          path: ngcfg

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: ngcfg-ubuntu-latest-amd64
          path: ./artifacts/

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          body: |
            Автоматический релиз для тега ${{ github.ref_name }}

      - name: Upload binaries to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./artifacts/ngcfg-ubuntu-latest-amd64/ngcfg
          asset_name: ngcfg-linux-amd64
          asset_content_type: application/octet-stream
